# general  modules
django == 5.2
python-decouple
Pillow
djangorestframework
psycopg2-binary>=2.9

# third party modules
djangorestframework_simplejwt
django-cors-headers
drf-yasg[validation]

requests
redis
celery>=5.3
gunicorn>=20.1.0
ghasedak